<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 col-lg-10">
      <div
        *ngIf="(messages$ | async)?.length ?? 0 > 0"
        class="alert"
        [ngClass]="{ 'alert-danger': (isSuccess$ | async) === false, 'alert-success': (isSuccess$ | async) === true }"
        role="alert"
      >
        <ul class="error-messages">
          <li *ngFor="let message of messages$ | async">
            {{ message.message }}
          </li>
        </ul>
      </div>

      <div class="wrap d-md-flex">
        <!-- Photo by Diva Plavalaguna from Pexels: https://www.pexels.com/photo/close-up-of-people-bumping-fists-6146704/ -->
        <div class="img" style="background-image: url(assets/images/login.jpg)"></div>
        <div class="login-wrap p-4 p-md-5">
          <div class="d-flex">
            <div>
              <h3 class="mb-4">Sign In</h3>
            </div>
          </div>
          <form [formGroup]="form" class="signin-form">
            <div class="form-group mb-3">
              <label class="label" for="name">Email address</label>
              <input type="text" formControlName="username" class="form-control" placeholder="Username" required="" />
            </div>
            <div class="form-group mb-3">
              <label class="label" for="password">Password</label>
              <input type="password" formControlName="password" class="form-control" placeholder="Password" required="" />
            </div>
            <div class="form-group">
              <button type="button" class="form-control btn btn-primary rounded submit px-3" (click)="onLogin()">Sign In</button>
            </div>
            <div class="form-group d-md-flex">
              <div class="w-100 text-left">
                <label class="checkbox-wrap checkbox-primary mb-0"
                  >Remember Me
                  <input type="checkbox" checked="" />
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="w-100 text-md-end">
                <a href="#">Forgot Password</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
